{% extends 'correspondence/base.html' %}
{% block content%}
<h1>Reestablezca su contraseña</h1>
{% if validlink %}
    <p>Por favor introduzca su contraseña dos veces:</p>
    <form method="post">
        {% load crispy_forms_tags %}
        {{ form | crispy }}
        {% csrf_token %}
        <input type="submit" value="Cambiar mí contraseña" class="btn btn-primary">
    </form>
{% else %}
    <p>El vínculo de restablecimiento de contraseña ha sido inválido, posiblemente porque ya ha sido utilizado, por favor solicite un nuevo
    restablecimiento de contraseña</p>
{% endif %}
{% endblock %}