{% extends 'correspondence/main_template.html' %}
<!-- BLOCK Content -->
{% block content %}
<div class="card mb-4">
    <div class="card-header">Entrada de correspondencia</div>
    <div class="card-body">
      <div class="row">
        <div class="card text-right m-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{person.name}}</h5>
              <p class="card-text">{{person.address}}</p>
              <a href="{% url 'correspondence:edit_person' pk=person.pk %}" class="btn btn-primary">Editar</a>
            </div>
        </div>
        {% if person.parent %}
        <div class="card text-right m-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{person.parent.name}}</h5>
              <p class="card-text">{{person.parent.address}}</p>
              <a href="{% url 'correspondence:edit_person' pk=person.parent.pk %}" class="btn btn-primary">Editar</a>
            </div>
        </div>
        {% endif %}
      </div>

      <form method="post" enctype="multipart/form-data">
        {% load crispy_forms_tags %}
        {{ form | crispy }}
        {% csrf_token %}
        <input type="submit" class="btn btn-success btn-lg btn-block lift" name="Radicar" value="Radicar">
      </form>
    </div>
</div>
{% endblock %}
