{% extends 'correspondence/main_template.html' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">Persona {{ radicate.number }}</div>
    <div class="card-body">
      <p><b>Tipo de Documento:</b> {{ person.document_type }}</p>
      <p><b>Número de documento:</b> {{ person.document_number }}</p>
      <p><b>Email:</b> {{ person.email }}</p>
      <p><b>Nombre:</b> {{ person.name }}</p>
      <p><b>Ciudad:</b> {{ person.city }}</p>
      <p><b>Dirección:</b> {{ person.address }}</p>

    </div>
    <div class="card-footer">
        <a href="{% url 'correspondence:create_radicate' person=person.pk %}" class="btn btn-success lift">Radicar</a>
        <a href="{% url 'correspondence:edit_person' pk=person.pk %}" class="btn btn-primary lift">Editar</a>
    </div>
</div>
{% endblock %}
