{% extends 'correspondence/main_template.html' %}

{% block content %}

<div class="row">
  <div class="col-xxl-6 col-xl-12 mb-6">
    <div class="card mb-4">
        <div class="card-header">Detalle del radicado : {{radicate.number}}</div>
        <div class="card-body">
          <p><b>Consecutivo:</b> {{ radicate.pk }}</p>
          <p><b>Asunto:</b> {{radicate.subject}}</p>
          <p><b>Tipo:</b> {{radicate.type}}</p>
          <p><b>Fecha:</b> {{radicate.date_radicated}}</p>
          <p><b>Recepción:</b> {{radicate.reception_mode}}</p>
          <p><b>Remitente:</b> {{radicate.person }}</p>
          <p><b>Dirección:</b> {{radicate.person.address }} - {{ radicate.person.city }}</p>
          <p><b>Usuario creador:</b> {{radicate.creator.first_name}} {{radicate.creator.last_name}}</p>
          <p><b>Usuario atual:</b> {{radicate.current_user.first_name}} {{radicate.current_user.last_name}}</p>
        </div>
    </div>
  </div>

  <div class="col-xxl-6 col-xl-12 mb-6">
    <div class="card mb-4">
    <div class="card-header">Historico</div>
    <div class="card-body">
      <div class="timeline timeline-xs">
        <!-- Timeline Item 1-->
        <div class="timeline-item">
            <div class="timeline-item-marker">
                <div class="timeline-item-marker-text">27 min</div>
                <div class="timeline-item-marker-indicator bg-green"></div>
            </div>
            <div class="timeline-item-content">
                Radicado
                <a class="font-weight-bold text-dark" href="#!">{{radicate.number}}</a>
                ha sido ingresado correctamente
            </div>
        </div>
          <!-- Timeline Item 2-->
        <div class="timeline-item">
            <div class="timeline-item-marker">
                <div class="timeline-item-marker-text">58 min</div>
                <div class="timeline-item-marker-indicator bg-blue"></div>
            </div>
            <div class="timeline-item-content">
                El radicado
                <a class="font-weight-bold text-dark" href="#!">{{radicate.number}}</a>
                esta disponible para la búsqueda.
            </div>
        </div>
     </div>
    </div>
  </div>
  </div>
</div>
{%  if radicate.document_file %}
<div class="card mb-4">
  <div class="card-header">
    Documento
  </div>
  <div class="card-body">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ radicate.document_file.url }}">
        </iframe>
    </div>
  </div>
</div>
{% endif %}
<a href="{% url 'correspondence:list_radicate' %}" class="btn btn-primary">Listado</a>
<a href="{% url 'correspondence:current_user' pk=radicate.pk %}" class="btn btn-success">Trasladar</a>
<a href="{% url 'correspondence:proyect_answer' pk=radicate.pk %}" class="btn btn-info">Responder</a>
{% endblock %}
