{% extends 'correspondence/main_template.html' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">Expediente {{ Record.name }}</div>
    <div class="card-body">
      <p><b>Es TVD:</b> {{ record.is_tvd }}</p>
      <p><b>Nombre:</b> {{ record.name }}</p>
      <p><b>Tipificación:</b> {{ record.retention }}</p>
      <p><b>Asunto:</b> {{ record.subject }}</p>
      <p><b>Fuente:</b> {{ record.source }}</p>
      <p><b>Proceso:</b> {{ record.process_type }}</p>
      <p><b>Usuario Responsable del Proceso:</b> {{ record.responsable }}</p>
      <p><b>Fecha inicial del proceso:</b> {{ record.init_process_date }}</p>
      <p><b>Fecha inicial:</b> {{ record.init_date }}</p>
      <p><b>Fecha final:</b> {{ record.final_date }}</p>
      <p><b>Fase:</b> {{ record.phase }}</p>
      <p><b>Disposición final:</b> {{ record.final_disposition }}</p>
      <p><b>Nivel de seguridad:</b> {{ record.security_level }}</p>
    </div>
    <div class="card-footer">
      Resumen del expediente
    </div>
</div>
  <div class="card mb-4">
      <div class="card-header">Listado de radicados</div>
      <div class="card-body">
        <div class="datatable">
          <table class="table table-bordered table-hover" id="record.radicates" width="100%" cellspacing='0'>
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Número</th>
                <th>Asunto</th>
                <th>Remitente</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Fecha</th>
                <th>Número</th>
                <th>Asunto</th>
                <th>Remitente</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
            <tbody>
              {% for radicate in record.radicates.all %}
              <tr>
                <td>{{ radicate.date_radicated }}</td>
                <td>{{ radicate.number }}</td>
                <td>{{ radicate.subject }}</td>
                <td>{{ radicate.person.name }}</td>
                <td><div class="badge badge-success badge-pill">Radicado</div></td>
                <td>
                    <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i data-feather="more-vertical"></i></button>
                    <a href="{% url 'correspondence:detail_radicate' pk=radicate.pk %}" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="eye"></i></a>
                    {% if radicate.document_file %}
                      <a href="{{ radicate.document_file.url }}" target="_blank" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="file"></i></a>
                    {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
<a href="{% url 'correspondence:list_records' %}" class="btn btn-primary">Listado</a>
{% endblock %}
